<div class="flex center-center column full-height gap-1em">
    <div class="flex center-center column w-90">
        <h2>{{chartName}} Current Prices</h2>
        <small class="text-center">{{disclaimer}}</small>
        <p>Last update: {{updatedTime | date: 'medium' : 'UTC'}}</p>
    </div>

    <div class="w-90">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <!-- Code Column -->
            <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef> Code </th>
                <td mat-cell *matCellDef="let element"> {{element.code}} </td>
            </ng-container>

            <!-- Description Column -->
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Description </th>
                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>

            <!-- Rate Float Column -->
            <ng-container matColumnDef="rate_float">
                <th mat-header-cell *matHeaderCellDef> Rate Float </th>
                <td mat-cell *matCellDef="let element"> {{element.rate_float}} </td>
            </ng-container>

            <!-- Rate Column -->
            <ng-container matColumnDef="rate">
                <th mat-header-cell *matHeaderCellDef> Rate </th>
                <td mat-cell *matCellDef="let element"> {{element.rate}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef> Symbol </th>
                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>