<mat-card class="game-card">
    <div class="flex spacebetween-center">
        <div class="team flex column center-center">
            <img [src]="game.sport['homeTeamImg']" alt="Team Badge" width="50">
            <p>{{game.sport.homeTeamAbbr}}</p>
        </div>
        <div class="score">{{game.sport['homeTeamScore']}} : {{game.sport['awayTeamScore']}}</div>
        <div class="team flex column center-center">
            <img [src]="game.sport['awayTeamImg']" alt="Team Badge" width="50">
            <p>{{game.sport.awayTeamAbbr}}</p>
        </div>
    </div>
</mat-card>