<mat-card class="game-card">
    <div class="flex spacebetween-center">
        <div class="team flex column center-center">
            <img [src]="game['homeTeamImg']" alt="Team Badge" width="50">
            <p>{{game['homeTeamAbbr']}}</p>
        </div>
        <div class="score">{{game['homeTeamScore']}} : {{game['awayTeamScore']}}</div>
        <div class="team flex column center-center">
            <img [src]="game['awayTeamImg']" alt="Team Badge" width="50">
            <p>{{game.awayTeamAbbr}}</p>
        </div>
    </div>
</mat-card>