.sidenav-container {
    height: calc(100dvh - 65px);
    overflow-y: auto;

    .sidenav {
        width: 200px;

        .menu-item {
            padding: 0 15px;
            box-sizing: border-box;
            border-radius: 7px;
            height: 45px;
        }
    }
}

.menu-item:hover, .selected-menu-item {
    cursor: pointer;
    background-color: #303030;
}