<div class="flex center-center full-height gap-1em">
    <mat-drawer-container class="sidenav-container full-width" autosize>
        <mat-drawer #drawer class="sidenav" mode="side" opened>
            <div class="flex column start-center full-height gap-1em p-right-15px">
                <h2>Main Menu</h2>
                
                <app-tree-menu></app-tree-menu>
            </div>
        </mat-drawer>

        <section class="full-height sidenav-content">
            <router-outlet></router-outlet>
        </section>
    </mat-drawer-container>
</div>