.section-container {
    height: calc(100dvh - 205px);
    overflow-y: auto;
}

.match {
    width: 18.5%;
}

.time-board {
    height: 100px;

    h1, p {
        margin: 0;
    }
}

@media only screen and (max-width: 900px) {
    .match {
        width: 23.3%;
    }
}

@media only screen and (max-width: 765px) {
    .match {
        width: 31.5%;
    }
}

@media only screen and (max-width: 765px) {
    .match {
        width: 48%;
    }
}

@media only screen and (max-width: 465px) {
    .match {
        width: 100%;
    }
}