<div class="main-container">
    <mat-toolbar color="primary" class="flex spacebetween-center">
        <span>My App</span>

        <mat-icon>menu</mat-icon>
    </mat-toolbar>

    <section>
        <div class="flex center-center column">
            <h1 class="text-center">Football Playouts</h1>
            <button mat-raised-button color="accent" (click)="startGame()">Start Games</button>
        </div>

        <div class="p-20 section-container">
            <div class="flex gap-1em wrap center-center">
                <app-match *ngFor="let game of gameList.games; let i = index" [game]="game"
                    class="match box-zizing"></app-match>
            </div>
        </div>
    </section>
</div>